.timelist {
    padding: 5px;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    align-content: center;
    margin: 2px;
}

.timelist_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .ul {
    list-style-type: none;
    padding: 0;
  }
  