body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.appointmentList {
  display: flex;
  flex-direction: column;
}

.appointmentItem {
  padding: 5px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 75px 1fr 100px;
  margin-bottom: 20px;
}

.appointmentItem button {
  border: none;
  background-color: black;
  color: white;
}


.timelist {
    padding: 5px;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    align-content: center;
    margin: 2px;
}

.timelist_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .ul {
    list-style-type: none;
    padding: 0;
  }
  